.ext-conversation-editor .ext-ce-property-drawer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    margin-left: 12px;
    background-color: var(--ext-panel-background-color);

    min-width: 200px;
    max-width: 30vw;
    width: 500px;
    border-radius: 4px;
    margin-bottom: 4px;

    padding: 0px 16px 16px 16px;
}

.ext-conversation-editor .ext-ce-property-drawer>.ext-ce-resize-bar {
    flex: unset;
    width: 3px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    cursor: col-resize;
    resize: horizontal;

    background: unset;

}

.ext-conversation-editor .ext-ce-property-drawer>.ext-ce-resize-bar:hover {
    background: var(--app-color-primary);
}

.ext-conversation-editor .ext-ce-tool-bar {
    display: flex;
    flex-direction: row;
    gap: 8px;

    height: 64px;
}

.ext-conversation-editor .ext-ce-property-drawer h2 {
    white-space: preserve nowrap;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 12px 0;
}

.ext-conversation-editor .ext-ce-form-view-scroll-container {
    flex: 1;
    position: relative;
}

.ext-conversation-editor .ext-ce-form-view-scroll-container charon-document-form-view {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.ext-conversation-editor .ext-ce-delete-button {
    position: relative;
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--ext-panel-background-color);
    border: 2px solid var(--app-color-warn);
    outline: none;

    padding: 0;
    border-radius: 6px;
    font-size: 11px;
    line-height: 1.3;
    word-wrap: break-word;
    cursor: pointer;
    text-align: left;
    color: var(--app-color-warn);
}

.ext-conversation-editor .ext-ce-delete-button:hover {
    background-color: rgba(from var(--app-color-warn) r g b / 0.08);
}